/* . for class selector, # for id selector */
#header {
	position: fixed;
	font-family: 'Poiret One';font-size: 22px;
	font-weight: 500;
	font-size: 16pt;
	width: 100%;
	top: 0;
	height: 30px;
	margin-left: -.05%;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 15px;
	letter-spacing: 2px;
	padding-right: 15%;
	padding-left: 11%;  
}
.regular{
	font-family: 'Poiret One';font-size: 22px;
	position: fixed;
	font-weight: 500;
	background-color:white;
	color:black;
	font-size: 16pt;
	width: 100%;
	top: 0;
	height: 30px;
	margin-left: -.05%;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 15px;
	letter-spacing: 2px;
}
.active a{
	color:white;
	text-decoration: none;
}
.active a:hover{
	color:grey;
	text-decoration: none;
}
.active{
	background-color:black;
	color:white;
	font-family: 'Poiret One';font-size: 22px;
	position: fixed;
	font-weight: 500;
	font-size: 16pt;
	width: 100%;
	top: 0;
	height: 30px;
	margin-left: -.05%;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 15px;
	letter-spacing: 2px;
}
.regular a{
	text-decoration: none;
	color:black;
}
.regular .active a{
	color:white;
	text-decoration: none;
}
#header a{
	text-decoration: none;
	/* color:black; */
	padding-left: 2%;
}
#header a:hover {
		font-weight: bold;
		color: grey;
		/* color:white; */
}
#about-me #right-column a{
	font-size: 12pt;
	font-family: 'Roboto';
	
	text-decoration: none;
	color: #546A7B;
	letter-spacing: 1pt;
}
#about-me #right-column a:hover{
	color:black;
	/* font-style: italic; */
}
.icon{
	height: 20px;
    width: 20px;
}

/* #writing hr{
	width:140px;
}
#projects hr{
	width:430px;
} */
br{
	content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}
body{
	background-color: #fff;
	color: grey;
	font-family: 'Poiret One';font-size: 16px;
    margin: 0;
    padding: 0;
    width: 99%;
    margin-left: .05%;
	height: 100%;
	letter-spacing: 1pt;
	display: block;
}
#bar {
	position: fixed;
	right: 2%;
	/* top:0; */
	overflow: hidden;
	float:right;
	display: block;
	/* max-width: 65%; */
	margin-top: -35px;
	font-size: 12pt;
	letter-spacing: 1pt;
	padding-right: 10%;
}

#content{
	right: 2%;
	position: absolute;
	right: 2%;
	padding-top: 5px;
	max-width: 65%;
	font-size: 12pt;
}
 #profpic{
	height: 400px;
	width: 290px;
	object-fit: cover;	
	object-position: center;
 }
 #background{
	 height:400px;
 }
 #right-column {
	display: inline-block;
	float: right;
    height: 100%;
    margin: 0;
	margin-bottom: 20px;
	color: black;
	text-align: center;
	padding:2%;
 }
 #left-column{
	 display: inline-block;
	 color:black;
	 font-family: Roboto, sans-serif;
	 font-size: 2.7em;
	 font-weight: 100;
	 line-height: 1.5em;
	 float: left;
	 font-size: 18px;
	 width: 40%;
	 margin:0%;
	 margin-left:70px;
	 text-align: left;
	 height: 100%;
	 padding:2%;
 }
 #wrapper #left-column p{
	 text-align: left;
	 margin-top:5pt;
	 margin-bottom:20pt;
 }

 #banner{
	 height:600px;
	 color:white;
	 width:102%;
	 margin-top:20px;
	 background-image: url('public/b.jpg');
	 background-repeat: no-repeat;
	 background-position: center; 
	 background-attachment: fixed;
	 /* background-size: cover; */
	 background-size: contain;
	 display: block;
 }
#footer{
	font-family: 'Courier New', Courier, monospace;
	position: relative;
	width: 101%;
	bottom: -5px;
	height: 50px;
	margin-left: -.05%;
	margin-top:-50px;
	background-color: black;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	letter-spacing: 1.5px;
}
#contact-info{
	text-align: center;
	color: black;
	display: block;
	height: 100%;
}
#wrapper{
	padding: 16px;
	padding-bottom: 60px;
	min-height: 100%;
	padding-top: 35px;
	padding-bottom: 25px;
	height: 100%;
	padding-right: 10%;
	padding-left: 10%;
	scroll-behavior: smooth;
	background-color: white;
}
#projects{
	/* position: relative; */
	width: 100%;
	color: black;
	padding-top: 10px;
	font-size: 22pt;
	display: block;
	text-align: center;
	height: 100%;
}
#about-me{
	color:black;
	padding-top: 10%;
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	height:100%; 
}

#about-me h1{
	text-transform: uppercase;
	font-size: 22pt;
}

#writing{
	display: block;
	text-align: center;
	width:100%;
	padding-top: 10%;
	padding-bottom: 15pt;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	
}
#photo{
	height:600pt;
	background-image: url('public/shanghai.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#writing1{
	background-image: url('public/writing1.gif');
}
#writing2{
	background-image: url('public/writing2pic.jpg');
}
#writing3{
	background-image: url('public/writing2.gif');
}
#wrapper p{
	color: #2e2e2e;
	/* text-decoration: underline; */
	/* font-family: Roboto, sans-serif; */
	font-family: merriweather,serif;
	font-size: 1rem;
	font-weight: 50;
	letter-spacing: .01rem;
	/* font-weight: 500; */
	/* line-height: 2em; */
	text-align: center;
}
#wrapper h2{
	color:black;
	font-family: Roboto, sans-serif;
	font-size: 15pt;
	font-weight: 900;
	line-height: 5pt;
	text-align: center;
}
#wrapper h3{
	color:black;
	font-family: Roboto, sans-serif;
	font-size: 13pt;
	margin:0;
	margin-bottom: 5pt;
	font-weight: 500;
	/* line-height: 5pt; */
	text-align: center;
}
#wrapper #left-column h3{
	text-align: left;
	font-family: merriweather,serif;
	font-size: 18pt;
	font-weight: 50;
}


.box{
	background-color: #546A7B;
	display: inline-block;
	margin:0%;
	margin-top: 10px;
	margin-bottom: 10px;
	width:250px;
	height:250px;
	text-align: center;
	background-size:cover; 
	background-position: center;
	background-repeat:no-repeat; 
	
	
}
.caption-container{
	display: inline-block;
}
.caption-container p{
	line-height: 10px;
	font-size: 16pt;
}
#projects a{
	text-decoration: none;
	color:white;
	display:block;
}
#projects .caption-container a{
	font-family: Roboto, sans-serif;
	/* font-family: merriweather; */
	color:black;
	font-size: 10pt;
	font-weight: 500;
	text-align: center;
	line-height: 15pt;
}
#projects .caption-container a:hover{
	font-style: italic;
	font-weight: bold;
}


#writing a{
	display:block;
	text-decoration: none;
	color: black;
    font-family: Roboto, sans-serif;
    font-size: 10pt;
    font-weight: 500;
    text-align: center;
    line-height: 15pt;
	
}
#writing a:hover{
	font-style: italic;
	font-weight: bold;
}
#writing h2{
	font-weight: 100;
}

.tupperware{
	display: inline-block;
	text-align: center;
	padding:2%;
}

#box1 {
	background-image:url('public/turnip1.gif');
}
/* #box1:hover{
	background-image: url('public/turnip_caption.gif');
} */
#box2{
	background-image: url('public/chatroom.gif');
}
/* #box2:hover{
	background-image: url('public/chatroom_cap.gif');
} */
#box3{
	background-image: url('public/cal.gif');
}
/* #box3:hover{
	background-image: url('public/cal_caption.gif')
} */
.caption{
	display: inline;
	text-align: center;
	margin-bottom: 10px;
}
.box p{
	margin: 0%;
	font-size: 30pt;
	font-family: Roboto, sans-serif;
	line-height: 250px;
	float: left;
}

html{
	scroll-behavior: smooth;
}
#writing h1{	
	font-size: 2em;
	color:black;
}
#projects h1{
	display:inline-block;
	width: 100%;
	font-size:26pt;
}
h1{
	font-size: 1em;
	text-align: center;
	font-family: 'Poiret One';
	text-transform: uppercase;
	font-weight: 500;
	/* margin-bottom: 25pt; */
	

}

ul{
	
		display: block;
		list-style-type: disc;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 40px;
	
}
li{
	display: inline-block;
	margin-left: 15px;
}


 