/* . for class selector, # for id selector */

#header {
	color: #8E8E8E; 
	text-align: left; 
	font-family:'Courier New', Courier, monospace, sans-serif;
	font-size: 14pt;
	padding: 0px 50px 0px 10px;
}
a{
	text-decoration: none;
	color: #465062;
}
a:visited{
	color: #8E8E8E; 
}
a:hover {
	font-weight: bold;
}
hr {
    display: block;
    height: 1px;
	border: 0;
	width: 100%;
    border-top: 1px solid #ccc;
}
body{
	margin: 10,0, 10, 0;
	font-family:'Courier New', Courier, monospace, sans-serif;
}
#computer-science {
	position: absolute;
    right: 2%;
    max-width: 65%;
}